.discount_container {
  height: 130px;
  border-radius: 8px;
  background: radial-gradient(circle, #767676 0%, #4d4f50 100%, #494c4d 100%);
}
.discount_text{
    color:#ffffff;
    font-size: larger;
}